/* ======================= RESET BÁSICO ======================= */
/* Remove margens e paddings padrão e ajusta o box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Variáveis do Tema (Cores) */

:root {

  --cor-primaria: #f9003d;
  --cor-secundaria: #A259F7;
  --cor-destaque: #ffaf00;
  --fundo-escuro: #080324;
  --texto-claro: #FFF;
  --texto-cinza: #C7BAB3;
}

/* Estilos gerais */

body{

  background-color: var(--fundo-escuro);
  color: var(--texto-claro);
  font-family: 'Bebas Neue' , sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

address {

  /* Remove o itálico padrãoda tag address */
  font-style: normal;

}

.container {

  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;

}

/* Header */

.header{

  background-color: var(--cor-primaria);
  position: fixed; /* Mantem header no topo fixo */
  width: 100%;
  z-index: 1m;
  padding: 0.5rem 0;
  text-shadow:4px 6px 6px rgba(0, 0, 0, 0.3);

}

.nav-header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  /* Inverte a ordem */
  /*flex-direction: row-reverse; */

}

.logo{

  height: 40px;

}

/* Menu */

.menu {

  display: flex;
  gap: 1rem; /* Espaço o links do menu */
  list-style: none; /* Retirar a bolinha da lista */

}

.menu a {

  color: var(--texto-claro);
  text-decoration: none; /* Retira o undeline do link */
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3 ease;

}

.menu a:hover{

  color: var(--cor-destaque); /*Quando o mouse estiver em cima */

}

.btn-menu {
  display: none; /* Esconde o menu hamburguer (Telas grandes) */
}



/* Botão Contate-nos */

.botao {
  background-color: var(--cor-secundaria);
  color: var(--texto-claro) !important; /* Força o texto a ser branco */ 
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;

}

.botao:hover {

  background: linear-gradient(135deg, var(--cor-secundaria), var(--cor-destaque));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Efeito de Elevação */
  transform: translate(-2px) scale(1.05); /* Efeito de elevação */

}

 /* Banner Principal */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/imagem-fundo-banner.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.conteudo-banner h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-shadow: 4px 6px 6px rgba(255, 255, 255, 0.3);
}

.linha-destaque {
  width: 300px;
  height: 2px;
  background-color: var(--cor-destaque);
  margin: 1rem auto;
}

.subtitulo {
  font-size: 1.8rem;
  color: var(--texto-cinza);
  margin-bottom: 2rem;
  text-shadow: 4px 6px 6px rgba(255, 255, 255, 0.2);
}

.mouse {
  width: 60px;
  margin-top: 2rem;
  opacity: 0.8;
  text-shadow: 4px 6px 6px rgba(207, 197, 0, 0.9);
}

/* Seção Sobre */
.sobre {
  background-color: #181012;
  padding: 4rem 0;
}

.titulo-secao {
  color: var(--cor-primaria);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

/*Container para organizar imagem e texto lado a lado */
.conteudo-sobre {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap; 
}

.imagem-sobre {
  width: 45%;
  border-radius: 10px;
  min-width: 300px;
  flex: 1;
}

  .texto-sobre {
    width: 50%;
    min-width: 300px;
    flex: 1;
  }

  .destaque {
    color: var(--cor-destaque);
    font-weight: 700;
    font-size: 1.5rem;
    /* Transforma o texto em maiúsculas */
    text-transform: uppercase; 
  }

  .texto-sobre h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

    .texto-sobre p {
    color: var(--texto-cinza);
    font-size: 1.2rem;
  }

/* Seção Cards */
.info {
  padding: 4rem 0;
  text-align: center;
}

.cards-info {
  list-style: none; /*Remove a bolinha da lista */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap; /* Permite o texto quebrar /p linha abaixo */
}

.card {
  background-color: #241a1c;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 300px; 
}

.card h3 {
  color: var(--cor-destaque);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  background-color: var(--fundo-escuro);
  padding: 1.5rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5re;
}

/* Seção Endereço */

.endereco {
  padding: 2rem 0;
  background-color: #01001a;
}

.conteudo-endereco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.texto-endereco {
  font-size: 1.6rem;
  line-height: 1.8;  /* Aumenta o espaçamento entre as linhas */
  flex-grow: 1; /* Permite que o texto cresça para ocupar o espaço disponível */
}

.mapa {
  width: 350px;
  border-radius: 10px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); Efeito de sombra para destacar o mapa */
  box-shadow: 4px 6px 6px rgba(255, 255, 255, 0.5);
}

/* Footer */
.footer {
  background-color: var(--cor-primaria);
  text-align: center;
  padding: 1.2rem 0;
  margin-top: 2rem;
  font-size: 1.2rem;
}


/* _____________________________________ */
/* Responsividade (Tamanho de telas) */

/* Regra para a quando a tela for menos que 768px */

 @media (max-width: 768px) {

  /* Header */
  .nav-header{
    justify-content: center;
  }

  /* Menu */
  .menu{
    padding-top: 0;
  }
  .conteudo-sobre, .conteudo-endereco {
    flex-direction: column;
    gap:2rem;
  }

  .imagem-sobre, .texto-sobre {
    width: 100%;
  }


  /* _____________________________________ */
  /* Programação exclusiva para menu hamburguer */

  .btn-menu {

    display: block;
    background: none;
    border: none;
    color: var(--texto-claro);
    font-size: 2.5rem;
    cursor: pointer;
  }
  .nav-header{

    justify-content: space-between;

  }
  
  .menu {

    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .menu.aberto {
    
    display: flex;
  }

  /* Reduz o tamanho das fontes para melhor legibilidade em telas menores */
  .conteudo-banner h1 { font-size: 3.5rem; }
  .subtitulo { font-size: 1.5rem; }
  .titulo-secao { font-size: 2.5rem; }
  .texto-sobre h3 { font-size: 2rem; }
  .texto-sobre p { font-size: 1.1rem; }
  .card h3 { font-size: 1.5rem; }
  .card p {font-size: 1.3rem;}
  .texto-endereco {font-size: 1.1rem;}
 }


